In [2]:
import numpy as np
import pandas as pd

### Data Loading

In [3]:
lending_df = pd.read_csv('lending_club_loans.csv',skiprows=1,low_memory=False)

In [4]:
lending_df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [5]:
lending_df.shape

(42538, 115)

# Data Cleaning

In [9]:
lending_df.head(10)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
5,1075269,1311441.0,5000.0,5000.0,5000.0,36 months,7.90%,156.46,A,A4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
6,1069639,1304742.0,7000.0,7000.0,7000.0,60 months,15.96%,170.08,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
7,1072053,1288686.0,3000.0,3000.0,3000.0,36 months,18.64%,109.43,E,E1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
8,1071795,1306957.0,5600.0,5600.0,5600.0,60 months,21.28%,152.39,F,F2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
9,1071570,1306721.0,5375.0,5375.0,5350.0,60 months,12.69%,121.45,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

## Handling missing values

In [10]:
lending_df.isnull().sum()

id                                0
member_id                         3
loan_amnt                         3
funded_amnt                       3
funded_amnt_inv                   3
                              ...
tax_liens                       108
tot_hi_cred_lim               42538
total_bal_ex_mort             42538
total_bc_limit                42538
total_il_high_credit_limit    42538
Length: 115, dtype: int64

In [11]:
lending_df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=115)

In [18]:
for col in lending_df:
    print(col,":",lending_df[col].isnull().sum(), "null value",(lending_df[col].isnull().sum()/lending_df.shape[0])*100,"%")

id : 0 null value 0.0 %
member_id : 3 null value 0.007052517748836334 %
loan_amnt : 3 null value 0.007052517748836334 %
funded_amnt : 3 null value 0.007052517748836334 %
funded_amnt_inv : 3 null value 0.007052517748836334 %
term : 3 null value 0.007052517748836334 %
int_rate : 3 null value 0.007052517748836334 %
installment : 3 null value 0.007052517748836334 %
grade : 3 null value 0.007052517748836334 %
sub_grade : 3 null value 0.007052517748836334 %
emp_title : 2629 null value 6.180356387230241 %
emp_length : 1115 null value 2.621185763317504 %
home_ownership : 3 null value 0.007052517748836334 %
annual_inc : 7 null value 0.01645587474728478 %
verification_status : 3 null value 0.007052517748836334 %
issue_d : 3 null value 0.007052517748836334 %
loan_status : 3 null value 0.007052517748836334 %
pymnt_plan : 3 null value 0.007052517748836334 %
url : 3 null value 0.007052517748836334 %
desc : 13296 null value 31.25675866284264 %
purpose : 3 null value 0.007052517748836334 %
title : 16 null value 0.03761342799379378 %
zip_code : 3 null value 0.007052517748836334 %
addr_state : 3 null value 0.007052517748836334 %
dti : 3 null value 0.007052517748836334 %
delinq_2yrs : 32 null value 0.07522685598758756 %
earliest_cr_line : 32 null value 0.07522685598758756 %
fico_range_low : 3 null value 0.007052517748836334 %
fico_range_high : 3 null value 0.007052517748836334 %
inq_last_6mths : 32 null value 0.07522685598758756 %
mths_since_last_delinq : 26929 null value 63.30575015280455 %
mths_since_last_record : 38887 null value 91.41708589966619 %
open_acc : 32 null value 0.07522685598758756 %
pub_rec : 32 null value 0.07522685598758756 %
revol_bal : 3 null value 0.007052517748836334 %
revol_util : 93 null value 0.2186280502139264 %
total_acc : 32 null value 0.07522685598758756 %
initial_list_status : 3 null value 0.007052517748836334 %
out_prncp : 3 null value 0.007052517748836334 %
out_prncp_inv : 3 null value 0.007052517748836334 %
total_pymnt : 3 null value 0.007052517748836334 %
total_pymnt_inv : 3 null value 0.007052517748836334 %
total_rec_prncp : 3 null value 0.007052517748836334 %
total_rec_int : 3 null value 0.007052517748836334 %
total_rec_late_fee : 3 null value 0.007052517748836334 %
recoveries : 3 null value 0.007052517748836334 %
collection_recovery_fee : 3 null value 0.007052517748836334 %
last_pymnt_d : 86 null value 0.2021721754666416 %
last_pymnt_amnt : 3 null value 0.007052517748836334 %
next_pymnt_d : 39242 null value 92.25163383327848 %
last_credit_pull_d : 7 null value 0.01645587474728478 %
last_fico_range_high : 3 null value 0.007052517748836334 %
last_fico_range_low : 3 null value 0.007052517748836334 %
collections_12_mths_ex_med : 148 null value 0.3479242089425925 %
mths_since_last_major_derog : 42538 null value 100.0 %
policy_code : 3 null value 0.007052517748836334 %
application_type : 3 null value 0.007052517748836334 %
annual_inc_joint : 42538 null value 100.0 %
dti_joint : 42538 null value 100.0 %
verification_status_joint : 42538 null value 100.0 %
acc_now_delinq : 32 null value 0.07522685598758756 %
tot_coll_amt : 42538 null value 100.0 %
tot_cur_bal : 42538 null value 100.0 %
open_acc_6m : 42538 null value 100.0 %
open_il_6m : 42538 null value 100.0 %
open_il_12m : 42538 null value 100.0 %
open_il_24m : 42538 null value 100.0 %
mths_since_rcnt_il : 42538 null value 100.0 %
total_bal_il : 42538 null value 100.0 %
il_util : 42538 null value 100.0 %
open_rv_12m : 42538 null value 100.0 %
open_rv_24m : 42538 null value 100.0 %
max_bal_bc : 42538 null value 100.0 %
all_util : 42538 null value 100.0 %
total_rev_hi_lim : 42538 null value 100.0 %
inq_fi : 42538 null value 100.0 %
total_cu_tl : 42538 null value 100.0 %
inq_last_12m : 42538 null value 100.0 %
acc_open_past_24mths : 42538 null value 100.0 %
avg_cur_bal : 42538 null value 100.0 %
bc_open_to_buy : 42538 null value 100.0 %
bc_util : 42538 null value 100.0 %
chargeoff_within_12_mths : 148 null value 0.3479242089425925 %
delinq_amnt : 32 null value 0.07522685598758756 %
mo_sin_old_il_acct : 42538 null value 100.0 %
mo_sin_old_rev_tl_op : 42538 null value 100.0 %
mo_sin_rcnt_rev_tl_op : 42538 null value 100.0 %
mo_sin_rcnt_tl : 42538 null value 100.0 %
mort_acc : 42538 null value 100.0 %
mths_since_recent_bc : 42538 null value 100.0 %
mths_since_recent_bc_dlq : 42538 null value 100.0 %
mths_since_recent_inq : 42538 null value 100.0 %
mths_since_recent_revol_delinq : 42538 null value 100.0 %
num_accts_ever_120_pd : 42538 null value 100.0 %
num_actv_bc_tl : 42538 null value 100.0 %
num_actv_rev_tl : 42538 null value 100.0 %
num_bc_sats : 42538 null value 100.0 %
num_bc_tl : 42538 null value 100.0 %
num_il_tl : 42538 null value 100.0 %
num_op_rev_tl : 42538 null value 100.0 %
num_rev_accts : 42538 null value 100.0 %
num_rev_tl_bal_gt_0 : 42538 null value 100.0 %
num_sats : 42538 null value 100.0 %
num_tl_120dpd_2m : 42538 null value 100.0 %
num_tl_30dpd : 42538 null value 100.0 %
num_tl_90g_dpd_24m : 42538 null value 100.0 %
num_tl_op_past_12m : 42538 null value 100.0 %
pct_tl_nvr_dlq : 42538 null value 100.0 %
percent_bc_gt_75 : 42538 null value 100.0 %
pub_rec_bankruptcies : 1368 null value 3.2159480934693687 %
tax_liens : 108 null value 0.25389063895810804 %
tot_hi_cred_lim : 42538 null value 100.0 %
total_bal_ex_mort : 42538 null value 100.0 %
total_bc_limit : 42538 null value 100.0 %
total_il_high_credit_limit : 42538 null value 100.0 %

In [16]:
lending_df.shape

(42538, 115)

In [19]:
null_cols = []
for col in lending_df:
    if (lending_df[col].isnull().sum()/lending_df.shape[0])*100 > 50:
        null_cols.append(col)

In [21]:
print(null_cols)

['mths_since_last_delinq', 'mths_since_last_record', 'next_pymnt_d', 'mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit']

In [23]:
lending_df.drop(columns= null_cols,axis=1,inplace= True)

In [24]:
lending_df.shape

(42538, 58)

In [25]:
for col in lending_df:
    print(col,":",lending_df[col].isnull().sum(), "null value")

id : 0 null value
member_id : 3 null value
loan_amnt : 3 null value
funded_amnt : 3 null value
funded_amnt_inv : 3 null value
term : 3 null value
int_rate : 3 null value
installment : 3 null value
grade : 3 null value
sub_grade : 3 null value
emp_title : 2629 null value
emp_length : 1115 null value
home_ownership : 3 null value
annual_inc : 7 null value
verification_status : 3 null value
issue_d : 3 null value
loan_status : 3 null value
pymnt_plan : 3 null value
url : 3 null value
desc : 13296 null value
purpose : 3 null value
title : 16 null value
zip_code : 3 null value
addr_state : 3 null value
dti : 3 null value
delinq_2yrs : 32 null value
earliest_cr_line : 32 null value
fico_range_low : 3 null value
fico_range_high : 3 null value
inq_last_6mths : 32 null value
open_acc : 32 null value
pub_rec : 32 null value
revol_bal : 3 null value
revol_util : 93 null value
total_acc : 32 null value
initial_list_status : 3 null value
out_prncp : 3 null value
out_prncp_inv : 3 null value
total_pymnt : 3 null value
total_pymnt_inv : 3 null value
total_rec_prncp : 3 null value
total_rec_int : 3 null value
total_rec_late_fee : 3 null value
recoveries : 3 null value
collection_recovery_fee : 3 null value
last_pymnt_d : 86 null value
last_pymnt_amnt : 3 null value
last_credit_pull_d : 7 null value
last_fico_range_high : 3 null value
last_fico_range_low : 3 null value
collections_12_mths_ex_med : 148 null value
policy_code : 3 null value
application_type : 3 null value
acc_now_delinq : 32 null value
chargeoff_within_12_mths : 148 null value
delinq_amnt : 32 null value
pub_rec_bankruptcies : 1368 null value
tax_liens : 108 null value

In [26]:
lending_df['desc']

0          Borrower added on 12/22/11 > I need to upgra...
1          Borrower added on 12/22/11 > I plan to use t...
2                                                      NaN
3          Borrower added on 12/21/11 > to pay for prop...
4          Borrower added on 12/21/11 > I plan on combi...
                               ...
42533    I need to pay $2,100 for fixing my Volvo :)  A...
42534    Hi,   I'm buying  a used car. Anybody on faceb...
42535    I need to make several improvements around the...
42536                                                  NaN
42537                                                  NaN
Name: desc, Length: 42538, dtype: object

In [28]:
lending_df['desc'].fillna('not describe',inplace=True)